@import '_globals.sass';
@import '_animations.sass';

@import 'bem/container.sass'
@import 'bem/hero.sass';

body
  font-size: 12pt;
  font-family: 'Oxygen', sans-serif;
  background-color: $background;