@import '../bower_components/foundation-sites/scss/foundation.scss'
@include foundation-everything(true)

@import '_globals.sass'
@import '_mixins.sass'
@import '_animations.sass'

@import 'bem/footer.sass'
@import 'bem/hero.sass'
@import 'bem/projects.sass'
@import 'bem/viewer.sass'

:focus
  outline-color:  $primary

body
  font-size: 1em
  font-family: 'Oxygen', sans-serif
  background-color: $background
  color: $font-color
  --highlight-color: #000

a
  color: inherit

  &:hover, &:focus, &:active
    // color: lighten($primary, 10)
    color: $font-color

img
  border-radius: $border-radius

.background-image
  @include background-size(cover)
  @include transition(background-color 500ms ease)
  
  background-color: $background
  background-position: center center;
  height: 100%
  width: 100%
  position: absolute
  z-index: -1

.wrapper
  display: flex
  flex-direction: column

.content
  flex: 1

.thumbnail
  border-radius: $border-radius
  box-shadow: none
  &:hover, &:focus
    box-shadow: none

.button
  *:focus
    outline: none

  &:focus
    outline: none

@import 'react-select/default.scss'