$footer-font-color: $font-color

.footer
  position: static
  bottom: 0
  width: 100%
  text-align: center
  color: $footer-font-color
  margin-top: 25px

  @media #{$medium-up}
    margin-top: 100px

  &__row
    background-color: $white
    border: 1px solid
    padding: 1rem 4rem

  &__icon
    font-size: 100px

  &__header
    color: $footer-font-color
    font-size: 1em
    font-weight: 400
    text-transform: uppercase
    margin-top: 2.5rem
    margin-bottom: 10px

  &__text
    font-weight: 300
    font-size: .8em
    color: $footer-font-color

    &--link
      color: $footer-font-color
      &:hover, &:active
        color: $footer-font-color

  &__links
    list-style-type: none