.hero
  padding: 3rem 0 0rem

  &__name
    margin-top: 0.6rem
    font-size: 2em
    line-height: 0
    margin-bottom: 15px

    @include breakpoint(medium)
      margin-top: 1.5rem
      font-size: 4em

    @include breakpoint(large)
      margin-top: 3.9rem
      font-size: 4em

    &--redback
      color: $primary

    &--thomson
      color: $dark-highlight

  &__description
    position: absolute
    display: inline-block
    font-weight: 400
    font-size: 1.5em

    @media #{$medium-up}
      font-size: 3em

  &__logo
    margin-bottom: 8px
    *
      fill-opacity: 0
      stroke-opacity: 1
      transition: fill-opacity 1s, stroke-opacity 1s

    &--finished *
      fill-opacity: 1
      stroke-opacity: 0