.hero
  margin: 120px 0
  &__name
    font-size: 3em
    line-height: 0
    margin-bottom: 25px

    @media #{$medium-up}
      font-size: 4em

    &--redback
      color: $primary

    &--thomson
      color: $dark-highlight

  &__description
    position: absolute
    display: inline-block
    font-weight: 400
    font-size: 2em

    @media #{$medium-up}
      font-size: 3em