.projects
  border-radius: $border-radius
  padding: 0

  &__project
    @include transition(border-color 200ms ease)
    background-color: $white
    border: 1px solid $border-colour
    padding: 5px 5px

    &:hover, &:active, &:focus
      @include box-shadow(0px, 5px, 20px, rgba(0, 0, 0, .2))
      @include transition(box-shadow 200ms ease)
      z-index: 1

    &:not(:last-child)
      margin-bottom: 15px

    &--media
      margin-bottom: 0

    &--image
      float: left

    &--text
      display: inline

    &--name
      display: inline
      width: 100%

    &--subline
      color: lighten($font-color, 25)
      margin-bottom: 5px

    &--label
      pointer-events: none
      background-color: $primary

      &:not(:last-child)
        margin-right: 5px

  &__mobile-project
    margin-bottom: 5px
    
    &--image
      border-radius: 3px
      display: inline-block
      margin-right: 10px
      position: relative
      top: -2px
      vertical-align: middle