.viewer
  border-radius: $border-radius
  background-color: lighten($white, 2)
  height: 100%

  &__container
    &--content
      padding: 15px

  &__shift
    &-height
      @include transition(height 500ms ease)

    &-enter, &-appear
      @include transform(translate3d(-100%, 0, 0))

      &-active
        @include transform(translate3d(0, 0, 0))
        @include transition(transform 500ms ease)

    &-leave
      @include transform(translate3d(0, 0, 0))

      &-active
        @include transform(translate3d(100%, 0, 0))
        @include transition(transform 500ms ease)
